/* Importation du nouveau moteur Tailwind 4 */
@import "tailwindcss";

/* Activation de DaisyUI (version 5 s'active comme un plugin CSS) */
@plugin "daisyui";

/* Tes styles globaux */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* On applique ton dégradé ici */
  /* Note : avec Tailwind 4, on peut écrire du CSS standard mélangé */
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1e293b, #475569, #0f172a); 
  color: white;
  margin: 0;
}